services:
  nextjs-app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: cv-portfolio-dev
    restart: unless-stopped
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
    networks:
      - npm-network

networks:
  npm-network:
    external: true
