services:
  nextjs-app:
    build: .
    container_name: cv-portfolio
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - npm-network

networks:
  npm-network:
    external: true
    name: npm-network
